<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Transfert</title>
	<link th:href="@{/css/transfert.css}" rel="stylesheet">
	<link th:href="@{/css/menu.css}" rel="stylesheet">
	<style>

	</style>
</head>

<body>
	<header>
		<div th:replace="~{menu :: menu}"></div>
	</header>
	<div class="container">
		<div class="form">
			<h1>Bienvenue sur l'application Pay My Buddy</h1>
			<div class="solde">
				Votre solde est de 3000 €
			</div>
		</div>
	</div>
</body>

</html>